<!DOCTYPE html >
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Edit <%= application.title %></title>
  </head>
  <body>
    <header class="hero">
      <div class="hero-body">
        <h1 class="title">Class plannr</h1>
        <h2 class="subtitle">A class schedule application tracker.</h2>
        <%- include('../partials/_navbar.ejs') %>
      </div>
    </header>
    <main>
      <section class="box container is-max-tablet signIn-card">
        <div>
        <h1 class="title is-4">Edit <%= application.title %> </h1>
        <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=PUT" method="POST">
          <!-- title -->
          <label class="label" for="title">Title:</label>
          <input class="input is-info" type="text" name="title" id="title" required />
          <br />
          
          <!-- date -->
        <label class="label" for="date">Date:</label>
        <input class="input is-info" type="text" name="date" id="date" required />
        <br />
        
        <!-- time -->
        <label class="label" for="time">Time:</label>
        <input class="input is-info" type="text" name="time" id="time" required />
        <br />
        
        <!-- day -->
        <label class="label" for="day">Day:</label>
        <select name="day">
          <option value="monday" <%= application.status === 'monday' ? 'selected' : '' %>>Monday</option>
          <option value="tuesday" <%= application.status === 'tuesday' ? 'selected' : '' %>>Tuesday</option>
          <option value="wednesday" <%= application.status === 'wednesday' ? 'selected' : '' %>>Wednesday</option>
          <option value="thursday" <%= application.status === 'thursday' ? 'selected' : '' %>>Thursday</option>
          <option value="friday" <%= application.status === 'friday' ? 'selected' : '' %>>Friday</option>
        </select>
        <br />
        
        <button class="button is-success is-outlined mt-2" type="submit">Save Changes </button>
        </form>
        <button class="button is-success is-outlined mt-2"><a href="/users/<%= user._id %>/applications/view">Cancel</a></button>
        </div>
      </section>
      <br>
      </section>
    </main>
  </body>
</html>