<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Dashboard Page - Class Plannr</title>
  </head>
  <body>
    <header class="hero">
      <div class="hero-body">
        <h1 class="title">Class plannr</h1>
        <h2 class="subtitle">A class schedule application tracker.</h2>
        <%- include('../partials/_navbar.ejs') %>
      </div>
    </header>
    <main class="container">
      <section>
        <div>
          <h3 class="is-size-3">Hello <%= user.name %></h2>
          <% if (user.role === "instructor") { %>
            <h4 class="is-size-4">Create a Class</h4>
            <button class="button is-rounded"><a href="/users/<%= user._id %>/applications/new">Button</a></button>
          <% } else { %>
            <% null %>
          <% } %>

          <h4 class="is-size-4">View all the Classes</h4>
          <button class="button is-rounded">
            <a href="/users/<%= user._id %>/applications/view">Button</a>
          </button>
        </div>
      </section>
      <br>
      
      <!-- the mondays - friddays in a row -->
      <section>
        <h3 class="is-size-3">This week's Class Schedule:</h3>
        <div class="weekday">
          
          <!-- monday -->
          <div>
            <h4 class="is-size-4">Monday</h4>
            <% user.applications.forEach(application => { %>
              <% if (application.day === "monday") { %>           
                  <p class="boxClass m-1"><%= application.title %> <br> <%= application.date %> <br> <%= application.time %></p>
              <% } %>
            <% }); %>
          </div>

          <!-- tuesday -->
          <div>
            <h4 class="is-size-4">Tuesday</h4>
            <% user.applications.forEach(application => { %>
              <% if (application.day === "tuesday") { %>           
                  <p class="boxClass m-1"><%= application.title %> <br> <%= application.date %> <br> <%= application.time %></p>
              <% } %>
            <% }); %>
          </div>

          <!-- wednesday -->
          <div>
            <h4 class="is-size-4">Wednesday</h4>
            <% user.applications.forEach(application => { %>
              <% if (application.day === "wednesday") { %>           
                  <p class="boxClass m-1"><%= application.title %> <br> <%= application.date %> <br> <%= application.time %></p>
              <% } %>
            <% }); %>
          </div>

          <!-- thursday -->
          <div>
            <h4 class="is-size-4">Thursday</h4>
            <% user.applications.forEach(application => { %>
              <% if (application.day === "thursday") { %>           
                  <p class="boxClass m-1"><%= application.title %> <br> <%= application.date %> <br> <%= application.time %></p>
              <% } %>
            <% }); %>
          </div>

          <!-- friday -->
          <div>
            <h4 class="is-size-4">Friday</h4>
            <% user.applications.forEach(application => { %>
              <% if (application.day === "friday") { %>           
                  <p class="boxClass m-1"><%= application.title %> <br> <%= application.date %> <br> <%= application.time %></p>
              <% } %>
            <% }); %>
          </div>
        </div>
      
      </section>
    </main>
    <%- include('../partials/_footer.ejs') %>
  </body>
</html>