<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <title>Your Apps</title>
</head>

<body>
  <header class="hero">
    <div class="hero-body">
      <h1 class="title">Class plannr</h1>
      <h2 class="subtitle">A class schedule application tracker.</h2>
      <%- include('../partials/_navbar.ejs') %>
    </div>
  </header>
  <main>
    <section class="box container is-max-tablet signIn-card">

      <div>
        <h3>Title: <%= application.title %></h3>
        <h3>Date: <%= application.date %></h3>
        <h3>Time: <%= application.time %></h3>
        <h3>Day: <%= application.day %></h3>
        <button class="button is-rounded">
          <a href="/users/<%= user._id %>/applications/<%= application._id %>/edit">Edit</a>
        </button>
        <!-- delete link -->
        <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=DELETE" method="post">
          <button class="button is-rounded" type="submit">Delete</button>
        </form>
      </div>

    </section>
  </main>
  <%- include('../partials/_footer.ejs') %>
</body>

</html>